@*@model List<CategoryPost>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>

        @foreach (var item in Model)
        {
            <li class="active"><a href="@item.MetaTitle" target="_blank">@item.CategoryName</a></li>
        }
 
    </ul>
    <div class="clearfix"></div>
</div>*@
