@model IEnumerable<Menu>


<ul>
    @foreach (var item in Model)
    {
        <li><a asp-controller="@item.Text" asp-action="Index" target="_self">@item.Text</a></li>

    }
    <li><a asp-controller="Post" asp-action="Index" target="_self">Post</a></li>
</ul>