@model  FeedBack
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<ol class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="active">Contact Us</li>
</ol>
<h2>@ViewBag.Success</h2>
<!--contact-section-starts-->
<div class="contact-section">
    <div class="contact_grid">
        <div class="col-md-12 contact-top">
            <h3>Đóng góp ý kiến</h3>
            <p class="contact_msg">Phản hồi thông tin ý kiến của bạn</p>
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="to">
                    <input type="text" class="text" asp-for="Name" placeholder="Tên">
                    <input type="text" class="text" asp-for="Email" placeholder="Email" style="margin-left:20px"> <div class="clearfix"></div>
                    <input type="text" class="text" asp-for="Address" placeholder="Địa chỉ">
                    <input type="text" class="text" asp-for="Phone" placeholder="SĐT" style="margin-left:20px">
                </div>
                <div class="text">
                    <textarea asp-for="Contents" placeholder="Nội dung">Message:</textarea>
                </div>
                <div class="clearfix"> </div>
                <div class="form-submit1">
                    <input name="submit" type="submit" id="submit" value="Send FeedBack"><br>
                    <p class="m_msg">Sự quan tâm của bạn là niềm vui của chúng tôi</p>
                </div>
                <div class="clearfix"> </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

