@model ProjectTest.Models.Account

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<h4>Account</h4>
<hr />
<main class="mdl-layout__content ui-form-components">
    <div class="mdl-grid mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
        <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__title">
                <h5 class="mdl-card__title-text text-color--white">Chỉnh sửa tài khoản</h5>
            </div>
            <div class="mdl-card__supporting-text">
                <form asp-action="Edit" class="form form--basic">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="mdl-textfield mdl-js-textfield full-size">
                        <label asp-for="UserName" class="mdl-textfield__label"></label>
                        <input asp-for="UserName" class="mdl-textfield__input" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield full-size">
                        <label asp-for="PassWord" class="mdl-textfield__labell"></label>
                        <input asp-for="PassWord" class="mdl-textfield__input" />
                        <span asp-validation-for="PassWord" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield full-size">
                        <label asp-for="Avartar" class="mdl-textfield__label"></label>
                        <input asp-for="Avartar" class="mdl-textfield__input" />
                        <span asp-validation-for="Avartar" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield full-size">
                        <label asp-for="DisplayName" class="mdl-textfield__label"></label>
                        <input asp-for="DisplayName" class="mdl-textfield__input" />
                        <span asp-validation-for="DisplayName" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield full-size">
                        <label asp-for="Address" class="mdl-textfield__label"></label>
                        <input asp-for="Address" class="mdl-textfield__input" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield full-size">
                        <label asp-for="Email" class="mdl-textfield__label"></label>
                        <input asp-for="Email" class="mdl-textfield__input" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield full-size">
                        <label asp-for="Phone" class="mdl-textfield__label"></label>
                        <input asp-for="Phone" class="mdl-textfield__input" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    @*<div class="mdl-textfield mdl-js-textfield full-size">
                        <label asp-for="CreatedDate" class="mdl-textfield__label"></label>
                        <input asp-for="CreatedDate" class="mdl-textfield__input" />
                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>*@
                    <div class="mdl-textfield mdl-js-textfield full-size">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                            </label>
                        </div>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield full-size">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                            </label>
                        </div>
                    </div>
                    <div class="">
                        <input type="submit" value="Save" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
@*<div class="row">
        <div class="col-md-4">

        </div>
    </div>*@
@*<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-red">
    <i class="material-icons">forward</i>
    Forward
</button>*@
<a asp-action="Index" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange">Back to List</a>

