@model ProjectTest.Models.Menu

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

<h4>Menu</h4>
<hr />
<div class="mdl-card mdl-shadow--2dp employer-form">
    <div class="mdl-card__title">
        <h2>Tạo mới menu</h2>
        <div class="mdl-card__subtitle">Vui lòng nhập đầy đủ thông tin</div>
    </div>

    <div class="mdl-card__supporting-text">
        <form class="form" asp-action="Create">
            <div class="form__article">
                <h3>Dữ liệu </h3>
                <div class="mdl-grid">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" asp-for="Text" />
                        <label class="mdl-textfield__label" asp-for="Text"></label>
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" asp-for="DisplayOrder" />
                        <label class="mdl-textfield__label" asp-for="DisplayOrder"></label>
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TypeID" class="mdl-textfield__input"></label>
                        <select asp-for="TypeID" class="form-control" asp-items="ViewBag.TypeID"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" />
                </div>
            </div>
        </form>
        <div>
            <a asp-action="Index" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange">Back to List</a>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeID" class="control-label"></label>
                <select asp-for="TypeID" class="form-control" asp-items="ViewBag.TypeID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

