@model ProjectTest.Models.AboutMe

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section jsFooter{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtContentPost', {
                customConfig: '/ckeditor/config.js',
            });
            $('.custom-file-input').on('change', function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
                console.log(fileName);
                console.log($('.custom-file-input').val());
            });
        })
    </script>
}

<div class="mdl-card mdl-shadow--2dp employer-form">
    <div class="mdl-card__title">
        <h2>Tạo mới thông tin cá nhân</h2>
        <div class="mdl-card__subtitle">Vui lòng nhập đầy đủ thông tin</div>
    </div>

    <div class="mdl-card__supporting-text">
        <form class="form" asp-action="Create" enctype="multipart/form-data">
            <div class="form__article">
                <h3>Dữ liệu bài viểt</h3>
                <div class="mdl-grid">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" asp-for="FirstName" />
                        <label class="mdl-textfield__label" asp-for="FirstName"></label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" asp-for="LastName" />
                        <label class="mdl-textfield__label" asp-for="LastName"></label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div style="width:100%">
                        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" asp-for="Title" />
                            <label class="mdl-textfield__label" asp-for="Title"></label>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" asp-for="Note" />
                        <label class="mdl-textfield__label" asp-for="Note"></label>
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        Nội dung bài viết:
                        <textarea class="" asp-for="Introduce" id="txtContentPost" style="color:black"></textarea>

                        <span asp-validation-for="Introduce" class="text-danger"></span>
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" />
                </div>
            </div>
        </form>
        <div>
            <a asp-action="Index" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange">Back to List</a>
        </div>

    </div>
</div>










@*<div class="mdl-card mdl-shadow--2dp employer-form col-lg-12">
    <div class="mdl-card__title">
        <h2>Tạo mới thông tin cá nhân</h2>
        <div class="mdl-card__subtitle">Vui lòng nhập đầy đủ thông tin</div>
    </div>

    <div class="mdl-card__supporting-text">
        <form class="form" asp-action="Create">
            <div class="form__article">
                <h3>Dữ liệu tài khoản</h3>
                <div class="mdl-grid">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" asp-for="FirstName" />
                        <label class="mdl-textfield__label" asp-for="FirstName"></label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" asp-for="LastName" />
                        <label class="mdl-textfield__label" asp-for="LastName"></label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" asp-for="Image" />
                        <label class="mdl-textfield__label" asp-for="Image"></label>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" asp-for="Title" />
                        <label class="mdl-textfield__label" asp-for="Title"></label>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="">
                        <label>Giới thiệu</label>
                        <textarea asp-for="Introduce" id="txtAreaIntro" style="color:red"></textarea>

                        <span asp-validation-for="Introduce" class="text-danger"></span>
                    </div>
                    <br />
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" />
                </div>
            </div>
        </form>
        <div>
            <a asp-action="Index" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange">Back to List</a>
        </div>

    </div>
</div>*@