<html>
<head>
    <meta  charset="utf-8"/>
    <style>
        body {
            font-family: 'Segoe UI',Verdana,Arial, Helvetica, sans-serif;
            font-size: 80%;
        }

        #form {
            width: 600px;
        }

        #folderExplorer {
            float: left;
            width: 100px;
        }

        #fileExplorer {
            float: left;
            width: 680px;
            border-left: 1px solid #dff0ff;
        }

        .thumbnail {
            float: left;
            margin: 3px;
            padding: 3px;
            border: 1px solid #dff0ff;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            padding: 0;
        }
    </style>
    <script src="~/admin/plugins/ckeditor/adapters/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            var funcNum =@(Context.Request.Query["CKEditorFuncNum"]+";")
                $("#fileExplorer").on('click', 'img', function () {
                    var fileUrl = 'uploads_admin/' + $(this).attr('title');
                    window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
                    window.close();
                }).hover(function () {
                    $(this).css('cursor', 'pointer');
                })
        })

    </script>
</head>
<body>
    <div id="fileExplorer">
        @foreach (var item in ViewBag.fileInfos)
        {
            <img src="uploads_admin/@item.Name" alt="thumb"title="@item.Name" width="180" height="120"/>
            <br />
            <hr />
            }

        </div>
</body>
</html>